@import "reset.css";
@font-face {
  font-family: FuturaDemiC;
  src: url(../../fonts/futurademic.woff) format("webopen"), url(../../fonts/futurademic.ttf) format("truetype"), url(../../fonts/futurademic.eoteot?#iefix) format("embedded-opentype");
}
@font-face {
  font-family: FuturaBookC;
  src: url(../../fonts/futurabookc.woff) format("webopen"), url(../../fonts/futurabookc.ttf) format("truetype"), url(../../fonts/futurabookc.eoteot?#iefix) format("embedded-opentype");
}
@font-face {
  font-family: YesevaOne;
  src: url(../../fonts/yesevaone.woff) format("webopen"), url(../../fonts/yesevaone.otf) format("opentype");
}
@font-face {
  font-family: ProximaNova;
  src: url(../../fonts/proximanova.woff) format("webopen"), url(../../fonts/proximanova.ttf) format("truetype"), url(../../fonts/proximanova.eoteot?#iefix) format("embedded-opentype");
}
@font-face {
  font-family: FuturaMediumC;
  src: url(../../fonts/futuramediumc.woff) format("webopen"), url(../../fonts/futuramediumc.ttf) format("truetype"), url(../../fonts/futuramediumc.eoteot?#iefix) format("embedded-opentype");
}
.wr-map .container form label, .review > p, .second-flex p, .slider-steps p, .design-projects ul, .wr-types .repair ul, .wr-video form div label, .sl1 p {
  font-family: FuturaBookC;
  font-size: 15px;
}

.wr-clients .container .text1, .text2, .wr-ourteam .container .text1, .wr-design .container > p, .wr-video p {
  font-family: FuturaBookC;
  font-size: 20px;
}

.slider-steps span, .design-projects .cost, .wr-types .repair .cost, .sl1 span {
  font-family: YesevaOne, cursive;
  font-size: 18px;
  text-transform: uppercase;
}

footer .container div, footer .container, .wr-map .container form, .measurer form, .wr-video form, header .container div, header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  background-color: #fff;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1470px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

h2 {
  font-family: YesevaOne;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #e3b873;
}

h3 {
  font-family: Yeseva One;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

/* header */
header {
  background: #131313;
}
header .container {
  padding: 0 100px;
  height: 83px;
}
header .container div {
  min-width: 1005px;
  margin-right: 15px;
}
header .container ul {
  display: flex;
  justify-content: space-around;
  min-width: 630px;
}
header .container li a {
  font-family: FuturaBookC;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}
header .container li a:hover,
header .container li a:focus,
header .container li a:active {
  color: #e3b873;
}

.call {
  font-family: FuturaDemiC;
  font-weight: 600;
  font-size: 13px;
  line-height: 37px;
  text-align: center;
  width: 161px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 2px;
  border: 1px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
}

.call:hover {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
}

.logo,
.phone {
  font-family: FuturaDemiC;
  font-weight: 600;
  line-height: 15px;
  text-transform: uppercase;
  color: #e3b873;
}

.phone {
  display: inline-block;
  border-bottom: solid 1px;
  color: #e3b873;
}

/* wr-home */
.wr-home {
  background: #131313;
}
.wr-home .container {
  display: flex;
}
.wr-home .home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../img/wr-repair.jpg);
  background-size: cover;
  width: 100%;
  min-height: 707px;
  padding-left: 60px;
}
.wr-home .home p {
  font-family: FuturaBookC;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  white-space: pre-line;
}
.wr-home .home h1 {
  font-family: YesevaOne, cursive;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #fff;
  white-space: pre-line;
  margin-bottom: 16px;
}
.wr-home .home h1 span {
  color: #e3b873;
}

aside {
  min-width: 82px;
}
aside .link {
  font-family: FuturaDemiC;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #e3b873;
  text-transform: uppercase;
  transform: rotate(90deg) translateX(340%);
  display: inline-block;
}
aside .link:after {
  content: "";
  width: 51px;
  height: 1.5px;
  background-color: #e3b873;
  display: block;
  transform: translate(90px, -11px);
}

.buttons {
  display: flex;
  margin-top: 43px;
  margin-bottom: 20px;
}
.buttons a {
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 2px;
  width: 207px;
  font-family: FuturaDemiC;
  font-weight: 600;
  font-size: 13px;
  line-height: 49px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-right: 20px;
}
.buttons a:hover {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
}

/* wr-projects*/
.wr-projects {
  background-color: #131313;
}
.wr-projects .container {
  display: flex;
  justify-content: flex-end;
}

.sl1 {
  margin-top: 26px;
}
.sl1 span {
  line-height: 25px;
  color: #e3b873;
}
.sl1 p {
  line-height: 24px;
  color: #fff;
}
.sl1 .cost {
  margin-top: 46px;
}
.sl1 .column1 {
  margin-right: 68px;
}

#slick-slide00 {
  display: flex;
}

#slick-slide01 {
  display: flex;
}

#slick-slide02 {
  display: flex;
}

.block2 {
  display: flex;
  flex-direction: column;
  margin: 104px 0 416px 0;
}
.block2 ul {
  display: flex;
}
.block2 ul li {
  font-family: YesevaOne, cursive;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #e3b873;
  margin-right: 60px;
  padding-bottom: 5px;
  border-bottom: solid 1px transparent;
  cursor: pointer;
}
.block2 ul li:hover {
  border-bottom: solid 1px #e3b873;
}

.slider2 {
  max-width: 846px;
  margin-top: 45px;
  padding: 0;
}
.slider2 img {
  margin-right: 20px;
  width: auto;
}
.slider2 .slick-next {
  right: 65px;
}
.slider2 .slick-next:hover {
  cursor: pointer;
}
.slider2 .slick-next:before {
  content: "";
  background: url(../../img/arrow.png);
  background-size: 60%;
  background-color: #e3b873;
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 55% 60%;
  box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
}

.block1 {
  width: 492px;
  position: relative;
}
.block1 h2 {
  letter-spacing: -2px;
  max-width: 150px;
  display: inline-block;
  margin-top: 172px;
}
.block1 h2:after {
  top: 226px;
  content: "";
  width: 92px;
  height: 1px;
  background-color: #e3b873;
  position: absolute;
  left: 161px;
}
.block1 p {
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 29px;
  color: #fff;
  margin-top: 21px;
  max-width: 440px;
}

.slider1 .slick-dots li {
  left: -137px;
  bottom: 110px;
}
.slider1 .slick-dots li button {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  height: 0;
  width: 0;
}
.slider1 .slick-dots li button:hover,
.slider1 .slick-dots li button:focus,
.slider1 .slick-dots li button:active {
  background-color: #fff;
}

.slider1 .slick-dots li button::before {
  content: none;
}

.slider2 .slick-list {
  padding-right: 146px;
}

/* wr-video */
.wr-video .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-326px);
}
.wr-video h3 {
  color: #fff;
}
.wr-video img {
  margin-top: 12px;
}
.wr-video video {
  width: 817px;
  height: 434px;
  margin-top: 30px;
}
.wr-video p {
  line-height: 34px;
  text-align: center;
  color: #363636;
  max-width: 675px;
  margin-top: 92px;
}
.wr-video p:before {
  content: "";
  width: 55px;
  height: 2px;
  background-color: #e3b873;
  position: relative;
  left: 46%;
  top: -28px;
  display: block;
}
.wr-video form {
  flex-direction: column;
  margin-top: 93px;
  min-height: 103px;
}
.wr-video form label {
  font-family: FuturaBookC;
  font-size: 16px;
  line-height: 18px;
  color: #181818;
  display: flex;
  flex-direction: row;
}
.wr-video form > label::before {
  content: "";
  width: 18px;
  height: 18px;
  display: inline-block;
  background-color: #e3b873;
  border-radius: 1px;
  background-image: url(../../img/checkbox.png);
  background-repeat: no-repeat;
  background-position: center;
}
.wr-video form div {
  display: flex;
  justify-content: space-between;
  min-width: 815px;
}
.wr-video form div label {
  margin: 0 25px;
  order: 1;
  display: flex;
  flex-direction: column;
  line-height: 20px;
  color: rgba(54, 54, 54, 0.5);
}
.wr-video form input[type=text] {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgba(54, 54, 54, 0.3);
  box-sizing: border-box;
  order: 2;
  height: 28px;
}
.wr-video form input[type=submit] {
  width: 200px;
  height: 51px;
  background-color: #e3b873;
  box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
  border: none;
}
.wr-video form input[type=checkbox] {
  opacity: 0;
}

/* wr-types */
.wr-types .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -182px;
}
.wr-types h3 {
  color: #181818;
}
.wr-types img {
  margin-top: 13px;
}
.wr-types .types {
  display: flex;
  justify-content: space-evenly;
  min-width: 1300px;
  margin-top: 18px;
}
.wr-types .repair {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wr-types .repair div {
  min-width: 330px;
  min-height: 286px;
  background: #fff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  transform: translateY(-44%);
  padding-left: 32px;
  padding-top: 22px;
  box-sizing: border-box;
}
.wr-types .repair .repair-name {
  font-family: Yeseva One;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}
.wr-types .repair ul {
  line-height: 25px;
  color: #959595;
  list-style: disc;
  margin-left: 16px;
  margin-top: 6px;
}
.wr-types .repair .cost {
  line-height: 54px;
  color: #fff;
  background-color: #e3b873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  width: 228px;
  height: 54px;
  transform: translate(-32px, 50%);
  text-align: center;
}

/* wr-measurement */
.wr-measurement {
  padding: 80px 0 205px;
}
.wr-measurement .container {
  display: flex;
  justify-content: space-between;
}

.free-metering {
  background-image: url(../../img/metering.png);
  background-repeat: no-repeat;
  background-position-y: -55px;
}
.free-metering svg {
  width: 800px;
  height: 637px;
}
.free-metering svg text {
  font-family: Yeseva One, cursive;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
.free-metering svg text tspan {
  font-family: FuturaMediumC;
  font-size: 18px;
  line-height: 21px;
}

.measurer {
  margin-right: 98px;
  padding: 51px 0;
}
.measurer form {
  background-color: #131313;
  width: 506px;
  height: 509px;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  padding: 24px 47px 27px;
  box-sizing: border-box;
}
.measurer form p {
  font-family: FuturaDemiC;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  max-width: 290px;
}
.measurer form label {
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  width: 100%;
}
.measurer form label:last-of-type {
  flex-direction: row;
}
.measurer form input[type=text] {
  font-family: FuturaMediumC;
  font-size: 18px;
  line-height: 25px;
  background-color: #131313;
  order: 2;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
  min-width: 90%;
}
.measurer form input::-webkit-input-placeholder {
  color: #fff;
}
.measurer form input::-moz-placeholder {
  color: #fff;
}
.measurer form input:-moz-placeholder {
  color: #fff;
}
.measurer form input:-ms-input-placeholder {
  color: #fff;
}
.measurer form input::placeholder {
  color: #fff;
}
.measurer form input[type=submit] {
  width: 213px;
  height: 51px;
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  border: none;
  font-family: FuturaDemiC;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  transform: translateX(45%);
}
.measurer form input[type=checkbox] {
  opacity: 0;
}
.measurer form label:last-of-type::before {
  content: "";
  width: 18px;
  height: 18px;
  display: inline-block;
  background-color: #e3b873;
  border-radius: 1px;
  background-image: url(../../img/checkbox.png);
  background-repeat: no-repeat;
  background-position: center;
}
.measurer .help {
  font-family: FuturaDemiC;
  font-size: 20px;
  line-height: 25px;
  color: #e3b873;
  text-shadow: 0px 3px 10px rgba(160, 122, 61, 0.15);
  max-width: 245px;
  position: relative;
  padding-left: 128px;
  margin-top: 47px;
}
.measurer .help:before {
  content: "";
  content: "";
  background-color: #e3b873;
  background-image: url(../../img/pig.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: none;
  display: block;
  position: absolute;
  left: 8%;
  top: -16%;
}

/* wr-realization */
.wr-realization .container {
  background: linear-gradient(120.96deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.9)), url(../../img/wr-realization.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 135px 0 91px 114px;
  position: relative;
}
.wr-realization .container .list h2 {
  max-width: 280px;
  margin-bottom: 37px;
}
.wr-realization .container .list ul {
  font-family: Proxima Nova;
  font-size: 20px;
  line-height: 34px;
  color: #fff;
  min-height: 526px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.pictures {
  display: flex;
  min-width: 751px;
  justify-content: space-between;
  position: absolute;
  right: 116px;
  top: -113px;
}
.pictures div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pictures div img {
  max-width: 354px;
}

.first-column {
  position: relative;
  top: 72px;
  min-height: 947px;
}

.second-column img:nth-child(2) {
  margin-bottom: 10px;
}

/* design */
.wr-design {
  background: linear-gradient(to top, #131313 40.5%, #fff 40.5%);
  padding: 152px;
  min-height: 740px;
}
.wr-design .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wr-design .container h3 {
  color: #181818;
  margin-bottom: 13px;
}
.wr-design .container > p {
  line-height: 27px;
  text-align: center;
  color: #363636;
  margin-top: 18px;
  white-space: pre-line;
}

.design {
  display: flex;
  justify-content: space-evenly;
  min-width: 1300px;
  margin-top: 48px;
}

.design-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.design-projects div {
  min-width: 330px;
  background-color: #fff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  transform: translateY(293px);
  padding-left: 32px;
  padding-top: 22px;
  box-sizing: border-box;
  position: absolute;
}
.design-projects .design-name {
  font-family: Yeseva One;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}
.design-projects ul {
  line-height: 25px;
  color: #959595;
  list-style: disc;
  margin-left: 16px;
  margin-top: 6px;
}
.design-projects .cost {
  line-height: 54px;
  color: #fff;
  background-color: #e3b873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  width: 193px;
  height: 54px;
  transform: translate(-32px, 32px);
  padding-left: 35px;
}

/* wr-steps */
.wr-steps {
  background-color: #131313;
}
.wr-steps .container {
  padding: 0 115px;
  display: flex;
  justify-content: space-between;
}

.first-flex {
  min-height: 692px;
}
.first-flex > p {
  font-family: FuturaDemiC;
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
}
.first-flex h2 {
  max-width: 160px;
  position: relative;
  margin-top: 16px;
}
.first-flex h2:after {
  content: "";
  width: 92px;
  height: 1px;
  background-color: #e3b873;
  position: absolute;
  left: 211px;
  top: 54px;
}

.slider-steps {
  max-width: 312px;
  min-height: 396px;
  margin: 84px 0;
}
.slider-steps span {
  line-height: 25px;
  color: #fff;
}
.slider-steps p:first-of-type {
  font-family: Yeseva One, cursive;
  font-size: 15px;
  line-height: 23px;
  text-transform: uppercase;
  color: #e3b873;
  margin-top: 18px;
  white-space: pre-line;
}
.slider-steps p {
  line-height: 27px;
  color: #fff;
  margin-top: 8px;
  padding: 0 2px;
}
.slider-steps .slick-dots li {
  width: 27px;
  margin: 0;
}
.slider-steps .slick-dots li button {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  height: 10px;
  width: 10px;
}
.slider-steps .slick-dots li button:hover,
.slider-steps .slick-dots li button:focus,
.slider-steps .slick-dots li button:active {
  background-color: #fff;
}
.slider-steps .slick-dots li button::before {
  content: none;
}
.slider-steps .slick-dots:after {
  content: "";
  background-image: url(../../img/arrow-slider.png);
  display: block;
  width: 42px;
  height: 14px;
  background-repeat: no-repeat;
  position: relative;
  top: -22px;
  left: 260px;
}
.slider-steps .slick-dots:before {
  content: "";
  background-image: url(../../img/arrow-slider.png);
  display: block;
  width: 42px;
  height: 14px;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  position: relative;
  top: 18px;
}

.second-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 765px;
  padding-top: 90px;
}
.second-flex ul {
  display: flex;
  justify-content: space-between;
  margin-right: -20px;
  margin-bottom: 52px;
}
.second-flex li {
  opacity: 0.3;
  min-width: 120px;
}
.second-flex li:hover {
  opacity: 1;
}
.second-flex span {
  font-family: Yeseva One;
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
  border-bottom: solid 1px #e3b873;
}
.second-flex p {
  line-height: 18px;
  color: #fff;
}

/* wr-ourteam */
.wr-ourteam {
  padding: 94px 0 50px;
  background: linear-gradient(to bottom, #131313 500px, #fff 500px);
}
.wr-ourteam .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wr-ourteam .container h3 {
  color: #fff;
  margin-bottom: 12px;
}
.wr-ourteam .container .text1 {
  line-height: 27px;
  text-align: center;
  color: #fff;
  max-width: 460px;
  margin-top: 18px;
}
.wr-ourteam .container a {
  font-family: Yeseva One, cursive;
  font-size: 20px;
  line-height: 28px;
  color: #181818;
  cursor: pointer;
  align-self: flex-end;
  margin-top: -70px;
  margin-right: 50px;
  text-shadow: 0px 3px 10px rgba(160, 122, 61, 0.15);
}
.wr-ourteam .container a:hover,
.wr-ourteam .container a:focus {
  color: #e3b873;
}
.wr-ourteam .container a:after {
  content: "";
  background-image: url(../../img/arrow-slider-black.png);
  display: block;
  width: 42px;
  height: 14px;
  background-repeat: no-repeat;
  position: relative;
  top: -21px;
  left: 58px;
  opacity: 0.7;
  transform: scale(0.7);
}

.team-photo {
  display: flex;
  max-width: 1027px;
  width: 100%;
  justify-content: space-between;
  margin-top: 83px;
}

.foto {
  position: relative;
  display: flex;
  flex-direction: column;
}
.foto p {
  font-family: Yeseva One, cursive;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #181818;
  max-width: 233px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  align-self: center;
  padding-top: 20px;
  box-sizing: border-box;
  transform: translateY(-61%);
}
.foto p span:first-of-type {
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #959595;
  display: block;
}
.foto p span:last-of-type {
  background-color: #e3b873;
  font-family: Yeseva One;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  line-height: 45px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  display: block;
  margin-top: 20px;
}

.square {
  position: absolute;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
}

.text2 {
  line-height: 34px;
  text-align: center;
  color: #181818;
  max-width: 605px;
  white-space: pre-wrap;
  margin-top: 8px;
  justify-self: center;
}

.text2:before {
  content: "";
  background-color: #e3b873;
  width: 55px;
  height: 2px;
  display: block;
  position: relative;
  left: calc(50% - 27px);
  top: -9px;
}

/* wr-clients */
.wr-clients {
  background-image: url(../../img/wr-reviews.png);
  background-position: bottom;
  background-repeat: repeat-x;
  padding-top: 45px;
}
.wr-clients .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 998px;
}
.wr-clients .container h3 {
  margin-bottom: 12px;
}
.wr-clients .container .text1 {
  line-height: 27px;
  text-align: center;
  color: #363636;
  max-width: 350px;
  margin-top: 18px;
}
.wr-clients .container a {
  font-family: Yeseva One, cursive;
  font-size: 20px;
  line-height: 28px;
  color: #181818;
  cursor: pointer;
  align-self: flex-end;
  text-shadow: 0px 3px 10px rgba(160, 122, 61, 0.15);
  margin-top: 30px;
  margin-right: 50px;
}
.wr-clients .container a:hover,
.wr-clients .container a:focus {
  color: #e3b873;
}
.wr-clients .container a:after {
  content: "";
  background-image: url(../../img/arrow-slider-black.png);
  display: block;
  width: 42px;
  height: 14px;
  background-repeat: no-repeat;
  position: relative;
  top: -21px;
  left: 58px;
  opacity: 0.7;
  transform: scale(0.7);
}

.clients-reviews {
  display: flex;
  margin-top: 47px;
  justify-content: space-between;
  width: 100%;
  max-width: 1235px;
}
.clients-reviews figure {
  display: flex;
  align-items: center;
}
.clients-reviews figure img {
  border-radius: 50%;
}
.clients-reviews figure figcaption {
  font-family: Yeseva One;
  font-size: 18px;
  line-height: 23px;
  color: #181818;
  max-width: 160px;
  margin-left: 18px;
}

.review {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background: #fff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
  min-height: 430px;
  box-sizing: border-box;
  position: relative;
}
.review > p {
  line-height: 27px;
  color: #959595;
  max-width: 324px;
}
.review div {
  display: flex;
  align-items: center;
  background-color: #e3b873;
  width: 294px;
  height: 54px;
  position: absolute;
  bottom: -25px;
  left: 0px;
}
.review div p {
  height: 100%;
  padding-left: 16px;
  box-sizing: border-box;
}
.review div p:first-child {
  border-right: solid 1px #fff;
  width: 45%;
}
.review div span {
  font-family: Yeseva One, cursive;
  font-size: 17px;
  line-height: 54px;
  text-transform: uppercase;
  color: #fff;
  vertical-align: middle;
}

/* wr-map */
.wr-map {
  background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}
.wr-map .container {
  background-image: url(../../img/wr-map.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  min-height: 954px;
  padding-bottom: 63px;
}
.wr-map .container form {
  background-color: #131313;
  width: 883px;
  height: 445px;
  flex-direction: column;
  position: absolute;
  top: -222px;
  padding: 32px 182px;
  box-sizing: border-box;
}
.wr-map .container form div {
  display: flex;
  justify-content: space-between;
  align-self: start;
  width: 88%;
}
.wr-map .container form p {
  font-family: Yeseva One, cursive;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  max-width: 257px;
}
.wr-map .container form label {
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
}
.wr-map .container form label:first-of-type {
  align-self: flex-start;
}
.wr-map .container form > label:last-of-type {
  flex-direction: row;
}
.wr-map .container form > label:last-of-type::before {
  content: "";
  width: 18px;
  height: 18px;
  display: inline-block;
  background-color: #e3b873;
  border-radius: 1px;
  background-image: url(../../img/checkbox.png);
  background-repeat: no-repeat;
  background-position: center;
}
.wr-map .container form input[type=text] {
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 24px;
  background-color: #131313;
  order: 2;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
}
.wr-map .container form input::-webkit-input-placeholder {
  color: #fff;
}
.wr-map .container form input::-moz-placeholder {
  color: #fff;
}
.wr-map .container form input:-moz-placeholder {
  color: #fff;
}
.wr-map .container form input:-ms-input-placeholder {
  color: #fff;
}
.wr-map .container form input::placeholder {
  color: #fff;
}
.wr-map .container form input[type=submit] {
  font-family: FuturaDemiC;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  width: 213px;
  height: 51px;
  background: #e3b873;
  box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
  border: none;
}
.wr-map .container form input[type=checkbox] {
  opacity: 0;
}
.wr-map .container p {
  font-family: Yeseva One, cursive;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #e3b873;
  max-width: 589px;
}
.wr-map .container div {
  margin-top: 22px;
}
.wr-map .container iframe {
  margin-top: 45px;
  width: 925px;
  height: 465px;
}

/* footer */
footer {
  background: #131313;
}
footer .container {
  padding: 0 107px;
  height: 133px;
}
footer .container div {
  min-width: 1005px;
}
footer .container ul {
  display: flex;
  justify-content: space-around;
  min-width: 630px;
}
footer .container li a {
  font-family: FuturaBookC;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}
footer .container li a:hover,
footer .container li a:focus,
footer .container li a:active {
  color: #e3b873;
}

/*# sourceMappingURL=main.css.map */
