@import "reset.css";
@font-face {
  font-family: FuturaDemiC;
  src: url(../../fonts/futurademic.woff) format("webopen"), url(../../fonts/futurademic.ttf) format("truetype"), url(../../fonts/futurademic.eoteot?#iefix) format("embedded-opentype");
}
@font-face {
  font-family: FuturaBookC;
  src: url(../../fonts/futurabookc.woff) format("webopen"), url(../../fonts/futurabookc.ttf) format("truetype"), url(../../fonts/futurabookc.eoteot?#iefix) format("embedded-opentype");
}
@font-face {
  font-family: YesevaOne;
  src: url(../../fonts/yesevaone.woff) format("webopen"), url(../../fonts/yesevaone.otf) format("opentype");
}
body {
  font-size: 14px;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1470px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

/* header */
header {
  background: #131313;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  height: 83px;
}
header .container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1005px;
  margin-right: 15px;
}
header .container ul {
  display: flex;
  justify-content: space-around;
  min-width: 630px;
}
header .container li a {
  font-family: FuturaBookC;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}
header .container li a:hover {
  color: #e3b873;
}
header .container .call {
  font-family: FuturaDemiC;
  font-weight: 600;
  font-size: 13px;
  line-height: 37px;
  text-align: center;
  width: 161px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 2px;
  border: 1px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
}
header .container .call:hover {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
}

.logo,
.phone {
  font-family: FuturaDemiC;
  font-weight: 600;
  line-height: 15px;
  text-transform: uppercase;
  color: #e3b873;
}

.phone {
  display: inline-block;
  border-bottom: solid 1px;
  color: #e3b873;
}

/* wr-home */
.wr-home {
  background: #131313;
}
.wr-home .container {
  display: flex;
}
.wr-home .home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../img/repair.jpg);
  background-size: cover;
  width: 100%;
  min-height: 707px;
  padding-left: 60px;
}
.wr-home .home p {
  font-family: FuturaBookC;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  white-space: pre-line;
  margin-top: 15px;
}
.wr-home .home h1 {
  font-family: YesevaOne, cursive;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #fff;
  white-space: pre-line;
}
.wr-home .home h1 span {
  color: #e3b873;
}

aside {
  min-width: 82px;
}
aside .link {
  font-family: FuturaDemiC;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #e3b873;
  text-transform: uppercase;
  transform: rotate(90deg) translateX(340%);
  display: inline-block;
}
aside .link:after {
  content: "";
  width: 51px;
  height: 1.5px;
  background-color: #e3b873;
  display: block;
  transform: translate(90px, -11px);
}

.buttons {
  display: flex;
  margin-top: 46px;
}
.buttons a {
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 2px;
  width: 207px;
  font-family: FuturaDemiC;
  font-weight: 600;
  font-size: 13px;
  line-height: 49px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-right: 20px;
}
.buttons a:hover {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
}

/* wr-projects*/
.wr-projects {
  background-color: #131313;
}

.wr-projects .container {
  display: flex;
  justify-content: flex-end;
}

.sl1 {
  margin-top: 26px;
}
.sl1 span {
  font-family: YesevaOne;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #e3b873;
}
.sl1 p {
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
}
.sl1 .cost {
  margin-top: 46px;
}
.sl1 .column1 {
  margin-right: 68px;
}

#slick-slide00 {
  display: flex;
}

#slick-slide01 {
  display: flex;
}

#slick-slide02 {
  display: flex;
}

.block2 {
  display: flex;
  flex-direction: column;
  margin: 104px 0 414px 0;
}
.block2 ul {
  display: flex;
}
.block2 ul li {
  font-family: YesevaOne;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #e3b873;
  margin-right: 60px;
  padding-bottom: 5px;
  border-bottom: solid 1px transparent;
  cursor: pointer;
}
.block2 ul li:hover {
  border-bottom: solid 1px #e3b873;
}

.slider2 {
  max-width: 846px;
  margin-top: 45px;
  padding: 0;
}
.slider2 img {
  margin-right: 20px;
  width: auto;
}
.slider2 .slick-next {
  right: 65px;
}
.slider2 .slick-next:hover {
  cursor: pointer;
}
.slider2 .slick-next:before {
  content: "";
  background: url(../../img/arrow.png);
  background-size: 60%;
  background-color: #e3b873;
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 55% 60%;
  box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
}

.block1 {
  width: 492px;
  position: relative;
}
.block1 h2 {
  font-family: YesevaOne;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #e3b873;
  letter-spacing: -2px;
  max-width: 150px;
  display: inline-block;
  margin-top: 172px;
}
.block1 h2:after {
  top: 226px;
  content: "";
  width: 92px;
  height: 1px;
  background-color: #e3b873;
  position: absolute;
  left: 161px;
}
.block1 p {
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 29px;
  color: #fff;
  margin-top: 21px;
  max-width: 440px;
}

.slider1 .slick-dots li {
  left: -137px;
  bottom: 110px;
}
.slider1 .slick-dots li button {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  height: 0;
  width: 0;
}
.slider1 .slick-dots li button:hover,
.slider1 .slick-dots li button:focus {
  background-color: #fff;
}

.slider1 .slick-dots li button::before {
  content: none;
}

.slider2 .slick-list {
  padding-right: 146px;
}

/* wr-video */
.wr-video {
  background-color: #fff;
}

.wr-video .container {
  position: relative;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -326px;
  justify-content: center;
  left: 310px;
}
.video h3 {
  font-family: YesevaOne;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.video img {
  margin-top: 12px;
}

iframe {
  margin-top: 30px;
}

.request {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 295px;
}
.request p {
  font-family: FuturaBookC;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #363636;
  width: 675px;
}
.request form {
  display: flex;
  margin-top: 110px;
}
.request form label {
  margin: 0 25px;
}

/*# sourceMappingURL=main.css.map */
