@import "reset.css";
@font-face {
  font-family: FuturaDemiC;
  src: url(../../fonts/FuturaDemiC.woff) format("webopen"),
    url(../../fonts/FuturaDemiC.ttf) format("truetype"),
    url(../../fonts/FuturaDemiC.eoteot?#iefix) format("embedded-opentype");
}
$bg-dark: #131313;
$colorE3B873: #e3b873;
$colorWhite: #fff;
$colortext: #363636;
body {
  font-size: 14px;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}
// wr-home
header {
  display: flex;
  align-items: center;
  height: 83px;
  background: $bg-dark;
  ul {
    display: flex;
    margin-left: 47px;
  }
  li a {
    font-family: FuturaBookC;
    line-height: 16px;
    text-transform: uppercase;
    color: $colorWhite;
    margin-left: 48px;
  }
  li a:hover {
    color: $colorE3B873;
  }
  .call {
    font-family: FuturaDemiC;
    font-weight: 600;
    font-size: 13px;
    line-height: 37px;
    text-align: center;
    width: 161px;
    text-transform: uppercase;
    margin-left: 45px;
    color: $colorWhite;
    border-radius: 2px;
    margin-top: 2px;
    border: 1px solid $colorWhite;
    box-sizing: border-box;
  }
  .call:hover {
    background: #e3b873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  }
}
.logo,
.phone {
  font-family: FuturaDemiC;
  font-weight: 600;
  line-height: 15px;
  text-transform: uppercase;
  color: $colorE3B873;
}
.phone {
  border-bottom: solid 1px $colorE3B873;
  margin-left: 74px;
}
.logo {
  margin-left: 83px;
}
.repair {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../img/repair.jpg);
  background-size: cover;
  flex-grow: 1;
  p {
    font-family: FuturaBookC;
    font-size: 22px;
    line-height: 30px;
    color: $colorWhite;
    margin: 16px 0 0 61px;
    white-space: pre-line;
  }
  h1 {
    font-family: Yeseva One;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 191px 0 0 61px;
    white-space: pre-line;
  }
}
.buttons {
  display: flex;
  margin: 45px 0 210px 50px;
  a {
    border: 1px solid $colorWhite;
    box-sizing: border-box;
    border-radius: 2px;
    width: 207px;
    font-family: FuturaDemiC;
    font-weight: 600;
    font-size: 13px;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
    color: $colorWhite;
    margin: 0 10px;
  }
  a:hover {
    background: $colorE3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  }
}
.homepage {
  display: flex;
}
.instagram {
  background: $bg-dark;
  width: 82px;
  position: relative;
  a {
    font-family: FuturaDemiC;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: $colorE3B873;
    text-transform: uppercase;
    transform: rotate(90deg);
    display: inline-block;
    position: relative;
    top: 264px;
  }
  a:after {
    content: ("");
    width: 51px;
    height: 1.5px;
    background-color: $colorE3B873;
    position: absolute;
    top: 5px;
    left: 90px;
  }
}
/* wr-projects*/
.sl1 {
  margin-top: 26px;
  span {
    font-family: Yeseva One;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: $colorE3B873;
  }
  p {
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 24px;
    color: $colorWhite;
  }
  .cost {
    margin-top: 46px;
  }
  .column1 {
    margin-right: 68px;
  }
}
#slick-slide00 /*как здесь не обратиться к id*/ {
  display: flex;
}
#slick-slide01 /*как здесь не обратиться к id*/ {
  display: flex;
}
#slick-slide02 /*как здесь не обратиться к id*/ {
  display: flex;
}
.block2 {
  display: flex;
  flex-direction: column;
  margin: 104px 0 414px 0;
  ul {
    display: flex;
    li {
      font-family: Yeseva One;
      font-size: 14px;
      line-height: 19px;
      text-transform: uppercase;
      color: $colorE3B873;
      margin-right: 60px;
      padding-bottom: 5px;
      border-bottom: solid 1px transparent;
    }
    li:hover {
      border-bottom: solid 1px $colorE3B873;
    }
  }
}
.slider2 {
  max-width: 846px;
  margin-top: 45px;
  padding: 0;
  img {
    margin-right: 20px;
    width: auto;
  }
}
.block1 {
  width: 492px;
  position: relative;
  h2 {
    font-family: Yeseva One;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: $colorE3B873;
    letter-spacing: -2px;
    max-width: 150px;
    display: inline-block;
    margin-top: 172px;
  }
  h2:after {
    top: 226px;
    content: "";
    width: 92px;
    height: 1px;
    background-color: #e3b873;
    position: absolute;
    left: 161px;
  }
  p {
    font-family: FuturaBookC;
    font-size: 18px;
    line-height: 29px;
    color: $colorWhite;
    margin-top: 21px;
    max-width: 440px;
  }
}
.bg-projects {
  display: flex;
  justify-content: flex-end;
  background: $bg-dark;
}
.slider1 .slick-dots li {
  left: -137px;
  bottom: 110px;
  button {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    height: 0;
    width: 0;
  }
  button:hover,
  button:focus {
    background-color: #fff;
  }
}
.slider1 .slick-dots li button::before {
  content: none;
}
.slider2 .slick-list {
  padding-right: 146px;
}
/* wr-video */
.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -326px;
  justify-content: center;
  left: 310px;
  h3 {
    font-family: Yeseva One;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: $colorWhite;
  }
  img {
    margin-top: 12px;
  }
}
iframe {
  margin-top: 30px;
}
.bg-video {
  position: relative;
  background-color: $colorWhite;
}
.request {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 295px;
    p {
    font-family: FuturaBookC;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: $colortext;
    width: 675px;
  }
  form {
    display: flex;
    margin-top: 110px;
    label {
      margin: 0 25px;
    }
  }
}
