@import "reset.css";
@font-face {
  font-family: FuturaDemiC;
  src: url(../../fonts/futurademic.woff) format("webopen"),
    url(../../fonts/futurademic.ttf) format("truetype"),
    url(../../fonts/futurademic.eoteot?#iefix) format("embedded-opentype");
}
@font-face {
  font-family: FuturaBookC;
  src: url(../../fonts/futurabookc.woff) format("webopen"),
    url(../../fonts/futurabookc.ttf) format("truetype"),
    url(../../fonts/futurabookc.eoteot?#iefix) format("embedded-opentype");
}
@font-face {
  font-family: YesevaOne;
  src: url(../../fonts/yesevaone.woff) format("webopen"),
    url(../../fonts/yesevaone.otf) format("opentype");
  // url(../../fonts/FuturaDemiC.eoteot?#iefix) format("embedded-opentype");
}
// @font-face {
//   font-family: FuturaDemiC;
//   src: url(../../fonts/FuturaDemiC.woff) format("webopen"),
//     url(../../fonts/FuturaDemiC.ttf) format("truetype"),
//     url(../../fonts/FuturaDemiC.eoteot?#iefix) format("embedded-opentype");
// }

$bg-dark: #131313;
$colorE3B873: #e3b873;
$colorWhite: #fff;
$color363636: #363636;
$color181818: #181818;
$color959595: #959595;
body {
  font-size: 14px;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  max-width: 1470px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
h2 {
  font-family: YesevaOne;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: $colorE3B873;
}
h3 {
  font-family: Yeseva One;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
/* header */
header {
  background: $bg-dark;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  height: 83px;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1005px;
    margin-right: 15px;
  }
  ul {
    display: flex;
    justify-content: space-around;
    min-width: 630px;
  }
  li a {
    font-family: FuturaBookC;
    line-height: 16px;
    text-transform: uppercase;
    color: $colorWhite;
    cursor: pointer;
  }
  li a:hover {
    color: $colorE3B873;
  }
  .call {
    font-family: FuturaDemiC;
    font-weight: 600;
    font-size: 13px;
    line-height: 37px;
    text-align: center;
    width: 161px;
    text-transform: uppercase;
    color: $colorWhite;
    border-radius: 2px;
    border: 1px solid $colorWhite;
    box-sizing: border-box;
    cursor: pointer;
  }
  .call:hover {
    background: $colorE3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  }
}
.logo,
.phone {
  font-family: FuturaDemiC;
  font-weight: 600;
  line-height: 15px;
  text-transform: uppercase;
  color: $colorE3B873;
}
.phone {
  display: inline-block;
  border-bottom: solid 1px;
  color: $colorE3B873;
}
/* wr-home */
.wr-home {
  background: $bg-dark;
  .container {
    display: flex;
  }
  .home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url(../../img/wr-repair.jpg);
    background-size: cover;
    width: 100%;
    min-height: 707px;
    padding-left: 60px;
    p {
      font-family: FuturaBookC;
      font-size: 22px;
      line-height: 30px;
      color: $colorWhite;
      white-space: pre-line;
      margin-top: 15px;
    }
    h1 {
      font-family: YesevaOne, cursive;
      font-size: 40px;
      line-height: 53px;
      text-transform: uppercase;
      color: $colorWhite;
      white-space: pre-line;
      span {
        color: $colorE3B873;
      }
    }
  }
}
aside {
  min-width: 82px;
  .link {
    font-family: FuturaDemiC;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: $colorE3B873;
    text-transform: uppercase;
    transform: rotate(90deg) translateX(340%);
    display: inline-block;
  }
  .link:after {
    content: ("");
    width: 51px;
    height: 1.5px;
    background-color: $colorE3B873;
    display: block;
    transform: translate(90px, -11px);
  }
}
.buttons {
  display: flex;
  margin-top: 46px;
  a {
    border: 1px solid $colorWhite;
    box-sizing: border-box;
    border-radius: 2px;
    width: 207px;
    font-family: FuturaDemiC;
    font-weight: 600;
    font-size: 13px;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
    color: $colorWhite;
    margin-right: 20px;
  }
  a:hover {
    background: $colorE3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  }
}
/* wr-projects*/
.wr-projects {
  background-color: $bg-dark;
}
.wr-projects .container {
  display: flex;
  justify-content: flex-end;
}
.sl1 {
  margin-top: 26px;
  span {
    font-family: YesevaOne;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: $colorE3B873;
  }
  p {
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 24px;
    color: $colorWhite;
  }
  .cost {
    margin-top: 46px;
  }
  .column1 {
    margin-right: 68px;
  }
}
#slick-slide00 /*как здесь не обратиться к id*/ {
  display: flex;
}
#slick-slide01 /*как здесь не обратиться к id*/ {
  display: flex;
}
#slick-slide02 /*как здесь не обратиться к id*/ {
  display: flex;
}
.block2 {
  display: flex;
  flex-direction: column;
  margin: 104px 0 416px 0;
  ul {
    display: flex;
    li {
      font-family: YesevaOne;
      font-size: 14px;
      line-height: 19px;
      text-transform: uppercase;
      color: $colorE3B873;
      margin-right: 60px;
      padding-bottom: 5px;
      border-bottom: solid 1px transparent;
      cursor: pointer;
    }
    li:hover {
      border-bottom: solid 1px $colorE3B873;
    }
  }
}
.slider2 {
  max-width: 846px;
  margin-top: 45px;
  padding: 0;
  img {
    margin-right: 20px;
    width: auto;
  }
  .slick-next {
    right: 65px;
  }
  .slick-next:hover {
    cursor: pointer;
  }
  .slick-next:before {
    content: "";
    background: url(../../img/arrow.png);
    background-size: 60%;
    background-color: #e3b873;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 55% 60%;
    box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
  }
}
.block1 {
  width: 492px;
  position: relative;
  h2 {
    letter-spacing: -2px;
    max-width: 150px;
    display: inline-block;
    margin-top: 172px;
  }
  h2:after {
    top: 226px;
    content: "";
    width: 92px;
    height: 1px;
    background-color: #e3b873;
    position: absolute;
    left: 161px;
  }
  p {
    font-family: FuturaBookC;
    font-size: 18px;
    line-height: 29px;
    color: $colorWhite;
    margin-top: 21px;
    max-width: 440px;
  }
}
.slider1 .slick-dots li {
  left: -137px;
  bottom: 110px;
  button {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    height: 0;
    width: 0;
  }
  button:hover,
  button:focus,
  button:active {
    background-color: $colorWhite;
  }
}
.slider1 .slick-dots li button::before {
  content: none;
}
.slider2 .slick-list {
  padding-right: 146px;
}
/* wr-video */
.wr-video {
  background-color: $colorWhite;
  // background-image: url(../../img/vector.svg);
  // background-size: cover;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-326px);
    // transform: translateY(-3207px);
  }
  h3 {
    color: $colorWhite;
  }
  img {
    margin-top: 12px;
  }
  video {
    width: 817px;
    height: 434px;
    margin-top: 30px;
  }
  p {
    font-family: FuturaBookC;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: $color363636;
    max-width: 675px;
    margin-top: 92px;
  }
  p:before {
    content: "";
    width: 55px;
    height: 2px;
    background-color: #e3b873;
    position: relative;
    left: 46%;
    top: -28px;
    display: block;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 93px;
    min-height: 103px;
    justify-content: space-between;
    label {
      font-family: FuturaBookC;
      font-size: 16px;
      line-height: 22px;
      color: $color181818;
    }
    > label::before {
      content: "";
      width: 18px;
      height: 18px;
      display: inline-block;
      background-color: #e3b873;
      border-radius: 1px;
      background-image: url(../../img/checkbox.png);
      background-repeat: no-repeat;
      background-position: center;
    }
    div {
      display: flex;
      justify-content: space-between;
      min-width: 815px;
      label {
        margin: 0 25px;
        order: 1;
        display: flex;
        flex-direction: column;
        font-family: FuturaBookC;
        font-size: 15px;
        line-height: 20px;
        color: rgba(54, 54, 54, 0.5);
      }
    }
    input[type="text"] {
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: rgba(54, 54, 54, 0.3);
      box-sizing: border-box;
      order: 2;
      height: 28px;
    }
    input[type="submit"] {
      width: 200px;
      height: 51px;
      background-color: $colorE3B873;
      box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
      border-radius: 2px;
    }
    input[type="checkbox"] {
      opacity: 0;
    }
  }
}
/* wr-types */
.wr-types {
  background-color: $colorWhite;
  // background-image: url(../../img/vector.svg);
  // background-size: cover;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -182px;
  }
  h3 {
    color: $color181818;
  }
  img {
    margin-top: 13px;
  }
  .types {
    display: flex;
    justify-content: space-evenly;
    min-width: 1300px;
    margin-top: 18px;
  }
  .repair {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      min-width: 330px;
      min-height: 286px;
      background: $colorWhite;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
      transform: translateY(-44%);
      padding-left: 32px;
      padding-top: 22px;
      box-sizing: border-box;
    }
  }
  .repair-name {
    font-family: Yeseva One;
    font-size: 18px;
    line-height: 25px;
    color: $color363636;
  }
  ul {
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 25px;
    color: $color959595;
    list-style: disc;
    margin-left: 16px;
    margin-top: 6px;
  }
  .cost {
    font-family: Yeseva One;
    font-size: 18px;
    line-height: 54px;
    text-transform: uppercase;
    color: #fff;
    background-color: #e3b873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    width: 228px;
    height: 54px;
    transform: translate(-32px, 50%);
    text-align: center;
  }
}
/* wr-measurement */
.wr-measurement {
  background-color: $colorWhite;
  padding: 80px 0 205px;
  // background-image: url(../../img/vector.svg);
  // background-size: cover;
  .container {
    display: flex;
    justify-content: space-between;
  }
}
.free-metering {
  background-image: url(../../img/metering.png);
  background-repeat: no-repeat;
  background-position-y: -55px;
  svg {
    width: 800px;
    height: 637px;
    // circle {
    //   box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    // }
    text {
      font-family: Yeseva One;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      tspan {
        font-family: FuturaMediumC;
        font-size: 18px;
        line-height: 21px;
      }
    }
  }
}
.measurer {
  margin-right: 98px;
  padding: 51px 0;
  form {
    background-color: #131313;
    width: 506px;
    height: 509px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    padding: 24px 47px 27px;
    box-sizing: border-box;
    p {
      font-family: FuturaDemiC;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      color: $colorWhite;
      max-width: 290px;
    }
    label {
      font-family: FuturaBookC;
      font-size: 15px;
      line-height: 20px;
      color: rgba(255, 255, 255, 0.5);
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    label:last-of-type {
      flex-direction: row;
    }
    input[type="text"] {
      font-family: FuturaMediumC;
      font-size: 18px;
      line-height: 25px;
      background-color: #131313;
      order: 2;
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0.15);
      box-sizing: border-box;
      min-width: 90%;
    }
    input::-webkit-input-placeholder {
      color: $colorWhite;
    }
    input::-moz-placeholder {
      color: $colorWhite;
    }
    input:-moz-placeholder {
      color: $colorWhite;
    }
    input:-ms-input-placeholder {
      color: $colorWhite;
    }
    input::placeholder {
      color: $colorWhite;
    }
    input[type="submit"] {
      width: 213px;
      height: 51px;
      background: $colorE3B873;
      box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
      border: none;
      font-family: FuturaDemiC;
      font-size: 13px;
      text-align: center;
      text-transform: uppercase;
      color: $colorWhite;
      transform: translateX(45%);
    }
    input[type="checkbox"] {
      opacity: 0;
    }
    label:last-of-type::before {
      content: "";
      width: 18px;
      height: 18px;
      display: inline-block;
      background-color: $colorE3B873;
      border-radius: 1px;
      background-image: url(../../img/checkbox.png);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .help {
    font-family: FuturaDemiC;
    font-size: 20px;
    line-height: 25px;
    color: $colorE3B873;
    text-shadow: 0px 3px 10px rgba(160, 122, 61, 0.15);
    max-width: 245px;
    position: relative;
    padding-left: 128px;
    margin-top: 47px;
  }
  .help:before {
    content: "";
    content: "";
    background-color: #e3b873;
    background-image: url(../../img/pig.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: none;
    display: block;
    position: absolute;
    left: 8%;
    top: -16%;
  }
}
/* wr-realization */
.wr-realization {
  .container {
    background: linear-gradient(
        120.96deg,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.9)
      ),
      url(../../img/wr-realization.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 135px 0 91px 114px;
    position: relative;
    .list {
      h2 {
        max-width: 280px;
        margin-bottom: 37px;
      }
      ul {
        font-family: Proxima Nova;
        font-size: 20px;
        line-height: 34px;
        color: $colorWhite;
        min-height: 526px;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
.pictures {
  display: flex;
  min-width: 751px;
  justify-content: space-between;
  position: absolute;
  right: 116px;
  top: -113px;
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      max-width: 354px;
    }
  }
}
.first-column {
  position: relative;
  top: 72px;
  min-height: 947px;
}
.second-column img:nth-child(2) {
  margin-bottom: 10px;
}
/* design */
.wr-design {
  padding-top: 152px;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      color: $color181818;
      margin-bottom: 13px;
    }
    > p {
      font-family: FuturaBookC;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      color: $color363636;
      margin-top: 18px;
      white-space: pre-line;
    }
  }
}
.design {
  display: flex;
  justify-content: space-evenly;
  min-width: 1300px;
  margin-top: 48px;
}
.design-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    min-width: 330px;
    min-height: 286px;
    background: $colorWhite;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    transform: translateY(-128px);
    padding-left: 32px;
    padding-top: 22px;
    box-sizing: border-box;
  }
  .design-name {
    font-family: Yeseva One;
    font-size: 18px;
    line-height: 25px;
    color: $color363636;
  }
  ul {
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 25px;
    color: $color959595;
    list-style: disc;
    margin-left: 16px;
    margin-top: 6px;
  }
  .cost {
    font-family: Yeseva One;
    font-size: 18px;
    line-height: 54px;
    text-transform: uppercase;
    color: #fff;
    background-color: #e3b873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    width: 193px;
    height: 54px;
    transform: translate(-32px, 32px);
    padding-left: 35px;
  }
}
/* wr-steps */
.wr-steps {
  background-color: $bg-dark;
  height: 2000px;
  .container {
    padding-left: 115px;
    > p {
      font-family: FuturaDemiC;
      font-size: 15px;
      line-height: 21px;
      text-transform: uppercase;
      color: $colorWhite;
    }
    h2 {
      max-width: 160px;
      position: relative;
    }
    h2:after {
      content: "";
      width: 92px;
      height: 1px;
      background-color: #e3b873;
      position: absolute;
      left: 235px;
      top: 53px;
    }
  }
}
.slider-steps {
  max-width: 325px;
  min-height: 370px;
  span {
    font-family: Yeseva One;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: $colorWhite;
  }
  p:first-of-type {
    font-family: Yeseva One;
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;
    color: $colorE3B873;
  }
  p {
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 25px;
    color: $colorWhite;
  }
  .slick-dots li {
    button {
      background: rgba(255, 255, 255, 0.3);
      border-radius: 30px;
      height: 10px;
      width: 10px;
    }
    button:hover,
    button:focus,
    button:active {
      background-color: $colorWhite;
    }
  }
  .slick-dots li button::before {
    content: none;
  }
  .slick-dots:after {
    content: "";
    background-image: url(../../img/arrow-slider.png);
    display: block;
    width: 42px;
    height: 14px;
    background-repeat: no-repeat;
    position: relative;
    top: -22px;
    left: 260px;
  }
  .slick-dots:before {
    content: "";
    background-image: url(../../img/arrow-slider.png);
    display: block;
    width: 42px;
    height: 14px;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    position: relative;
    top: 18px;
  }
}
